<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <title>Calculator</title>
</head>
<body>
    <div id="app">
        <div class="calc">
            <div class="result">
                <input v-on:keyup.enter="getResult()" type="text" v-model="result">
            </div>
            <div class="buttons">
                <div class="numbers" v-on:click="setNumber(sign)" v-for="sign in numbers">{{ sign }}</div>
                <div class="signs" v-on:click="setNumber(sign)" v-for="sign in signs">{{ sign }}</div>
                <div class="reset" v-on:click="reset()">C</div>
                <div class="calculate" v-on:click="getResult()">=</div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>